<h2>Edit Question</h2>
<%= link_to 'back to list', questions_path %>

<%= form_with model: @question do |form| %>
<ul>
	<li><% if @question.question_image.attached? %><img src="<%= (url_for(@question.question_image)) %>" alt=""><% end %>
		<%= form.label "Question Photo" %>
		<%= form.file_field :question_image %>
	</li>
	<li>
		<%= form.label "Question:" %>
		<%= form.text_field :situation %>
	</li>
	<li>
		<%= form.label "Description:" %>
		<%= form.text_area :description %>
	</li>
	<li>
		<%= form.label "Hint:" %>
		<%= form.text_field :hint %>
	</li>
	<li>
		<%= form.label "Option #1:" %>
		<%= form.text_field :option1 %>
	</li>
	<li>
		<%= form.label "Option #2:" %>
		<%= form.text_field :option2 %>
	</li>
	<li>
		<%= form.label "Option #3:" %>
		<%= form.text_field :option3 %>
	</li>
	<li>
		<%= form.label "Option #4:" %>
		<%= form.text_field :option4 %>
	</li>
	<li>
		<%= form.label "Answer:" %>
		<%= form.text_field :answer %>
	</li>
	<li>
		<%= link_to 'cancel', questions_path %>
		<%= form.submit "Add User(s)" %>
	</li>
</ul>
<% end %>
 