<h2>Questions index</h2>
<%= link_to 'add new questions', new_question_path %>

<% flash.each do |type, msg| %>
	<div class="alert alert-info">
		<%= msg %>
	</div>
<% end %>

<ul>
	<% @questions.each do |q| %>
		<li><%= link_to q.situation, question_path(q.id) %> <%= button_to 'delete', question_path(q.id), method: 'delete' %> <%= link_to 'edit', edit_question_path(q.id) %></li>
	<% end %>
</ul>