<main class="container admin">
	<div class="row w-100 h-100">
  <% @courses ||= Admin::Course.all %>
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, data: { turbo: false }, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <ul class="item-list">
				<li><%= f.label :course_id,'Class: ' %>
					<%= f.select(:course_id, options_from_collection_for_select(@courses, :id, :name), required: true) %>
				</li>
				<li><%= f.label :first_name, 'First Name: ' %>
					<%= f.text_field :first_name, required: true %>
				</li>
				<li><%= f.label :last_name, 'Last Name: ' %>
					<%= f.text_field :last_name, required: true %>
				</li>
				<li><%= f.label :email, 'Email: ' %>
					<%= f.email_field :email, required: true %>
				</li>
				<li>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", required: true %>
				</li>

        <li>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </li>

				<li><%= f.submit 'Add User' %></li>
			</ul>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</main>
