<h2>New Users</h2>
<%= link_to '[ <- back to list ]', users_path, class: "back-link" %>

<form action="<%= users_path %>" enctype="multipart/form-data" method="post">
<ul class="item-list">
	<li><label for="course_id">Class:</label>
		<select name="course_id" id="course_id">
			<% @courses.each do |c| %>
				<% if params[:course_id].to_i == c.id.to_i %>
					<% is_selected = ' selected' %>
				<% end %>
				<option value="<%= c.id %>"<%= is_selected %>><%= c.name %></option>
			<% end %>
		</select>
	</li>
	<li><label for="usersCSV">Upload CSV file:</label>
		<input type="file" name="usersCSV" id="usersCSV">
	</li>
	<li>OR...</li>
	<li><label for="email">Email:</label>
		<input type="text" name="email" id="email">
	</li>
	<li><label for="password">Password:</label>
		<input type="password" name="password" id="password">
	</li>
	<li><label for="admin">Admin?</label>
		<select name="admin" id="admin">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
	</li>
	<li><input type="submit" value="Add User(s)"> <%= link_to '[ cancel ]', users_path, class: "edit-link" %></li>
</ul>
</form>