<h2>Show User</h2>
<%= link_to '[ <- back to list ]', users_path(course_id: @user.course_id), class: "back-link" %>

<ul class="item-list">
	<li><h4>Email:</h4> <%= @user.email %></li>
	<li><h4>Password:</h4> <%= @user.password %></li>
	<li><h4>Class:</h4> <%= Course.find(@user.course_id).name %></li>
	<li><h4>Admin?</h4> <%= @user.admin ? 'Yes' : 'No' %></li>
	<li><%= link_to '[ edit ]', edit_user_path(@user.id), class: "edit-link" %> <%= button_to '[ delete ]', @user, method: 'delete' %></li>
</ul>