<main class="container-fluid">
<%= form_for @submission do |form|%>
<div class="row w-100 h-100">
    <div class="col-md-7 p-4">
        <div id="Image" title="image">
            <% if @question.question_image.attached? %><%= cl_image_tag(@question.question_image.key) %><% end %>
        </div>
    </div>
    <div class="col-md-5 p-4">
        <h3 id="Question"><%= @question.situation %></h3>
        <br>
        <div id="Options">
            <% @answers.each do |each_answer| %>
                <% if each_answer.question_id == @question.id %><!--Display options of this question-->
                    <%= form.radio_button :answer, each_answer.answer_text, class: 'btn-check', 'data-bs-toggle': 'modal', 'data-bs-target': '#AnswerModal', 'data-option': each_answer.is_correct, 'autocomplete': 'off', onClick: "evaluateAnswer(this.getAttribute('data-option'));" %>
                    <%= form.label :answer, each_answer.answer_text, value: each_answer.answer_text, class: 'btn btn-primary m-2'%>
                <% end %>
            <% end %>
        </div>
        <div id="hidden_fields">
            <%= form.hidden_field :user_id, value: @user.id%>
            <%= form.hidden_field :question_id, value: @question.id %>
            <%= form.hidden_field :is_correct, value: nil %>
        </div>
    </div>
</div>

<!-- Answer Modal -->
<div class="modal fade" id="AnswerModal" tabindex="-1" aria-labelledby="AnswerModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AnswerModalLabel"></h5>
				<%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
			</div>
			<div class="modal-body">
                <%= @question.description %>
            </div>
			<div class="modal-footer">
                <% if @question.id != @question_last.id%>
                    <%= form.submit 'Next', class: 'btn-next' %>
                <% else %>
                    <%= form.submit 'Done', class: 'btn-next' %>                
                <% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
</main>