<%= render 'admin/subnav' %>
<main class="container admin">
	<div class="row w-100 h-100">
		<h2>Edit Question</h2>
		<%= link_to '[ <- back to list ]', admin_questions_path, class: 'back-link' %>

		<%= form_with model: @question do |form| %>
		<ul class='item-list'>
			<li><% if @question.question_image.attached? %><%= cl_image_tag(@question.question_image.key, height: 150) %><% end %>
				<%= form.label 'Question Photo' %>
				<%= form.file_field :question_image %>
			</li>
			<li>
				<%= form.label 'Question:' %>
				<%= form.text_field :situation %>
			</li>
			<li>
				<%= form.label 'Description:' %>
				<%= form.text_area :description %>
			</li>
			<%= form.fields_for :answers, @answers.each do |answer_subform| %>
			<li>
				<%= answer_subform.label 'Option' %>
				<%= answer_subform.text_field :answer_text %>
				<div class="form-group form-check">
					
					<%= radio_button_tag 'answers[is_correct]', answer_subform.object.id, answer_subform.object.is_correct?%>
					<label class="form-check-label">Correct Answer</label>

				</div>	
			</li>
			<% end %>

			<li>
				<%= form.label 'Category:' %>
				<%= form.text_field :category %>
			</li>
			<li>
				<%= form.submit 'Update Question' %>
				<%= link_to '[ cancel ]', admin_questions_path, class: 'edit-link' %>
			</li>
		</ul>
		<% end %>
	</div>
</main>
