<%= render 'admin/subnav' %>
<main class="container admin">
	<div class="row w-100 h-100">
		<h2>New Question</h2>
		<%= link_to '[ <- back to list ]', admin_questions_path, class: 'back-link' %>

		<%= form_for @question do |form| %>
		<ul class='item-list'>
			<li><% if @question.question_image.attached? %><%= cl_image_tag(@question.question_image.key, height: 150) %><% end %>
				<%= form.label 'Question Photo' %>
				<%= form.file_field :question_image %>
			</li>
			<li>
				<%= form.label 'Question:' %>
				<%= form.text_field :situation %>
			</li>
			<li>
				<%= form.label 'Description:' %>
				<%= form.text_area :description %>
			</li>
			<%= form.fields_for :answers do |answer_subform| %>
			<li>
				<%= answer_subform.label 'Option' %>
				<%= answer_subform.text_field :answer_text %>
				<%= radio_button_tag 'answer[is_correct]', 'true', class:"form-check-input" %>
				<label class="form-check-label">Correct Answer</label>
			</li>

			<li><%= form.label 'Option #1:' %>
				<%= form.text_field :option1 %>
			</li>
			<li><%= form.label 'Option #2:' %>
				<%= form.text_field :option2 %>
			</li>
			<li><%= form.label 'Option #3:' %>
				<%= form.text_field :option3 %>
			</li>
			<li><%= form.label 'Option #4:' %>
				<%= form.text_field :option4 %>
			</li>
			<li><%= form.label 'Category:' %>
				<%= form.text_field :category %>
			</li>
			<li><%= form.label 'Answer:' %>
				<%= form.select(:answer, options_for_select([['option #1', 1],['option #2', 2],['option #3', 3],['option #4', 4]])) %>
			</li>
			<li><%= form.submit 'Add Question' %>

				<%= link_to '[ cancel ]', admin_questions_path, class: 'edit-link' %>
			</li>
		</ul>
		<% end %>
	</div>
</main>