<%= render 'admin/subnav' %>
<main class="container admin">
	<div class="row w-100 h-100">
		<h2>Show Question</h2>
		<%= link_to '[ <- back to list ]', admin_questions_path, class: "back-link" %>

		<ul class="item-list show">
			<li><% if @question.question_image.attached? %><%= cl_image_tag(@question.question_image.key, height: 150) %><% end %></li>
			<li><h4>Question:</h4> <%= @question.situation %></li>
			<li><h4>Description:</h4> <%= @question.description %></li>
			<% @answers.each do |answer|%>
			<li><h4>Option:</h4> <%= answer.answer_text %>
				<div class="form-group form-check">
					<%= radio_button_tag 'answer[is_correct]', 'true', (answer.is_correct == true), :disabled => true, class:"form-check-input" %>
					<label class="form-check-label">Correct Answer</label>
				</div>
			</li>
			
		<% end %>
			<li><h4>Category:</h4> <%= @question.category %></li>
			<li><%= button_to '[ delete ]', @question, method: 'delete' %> <%= link_to '[ edit ]', edit_admin_question_path(@question.id), class: "edit-link" %></li>
		</ul>
	</div>
</main>