<h2>New Users</h2>
<%= link_to '[ <- back to list ]', admin_users_path, class: "back-link" %>

<%= form_with model: @users do |formCSV| %>
<%= formCSV.hidden_field :hasCSV, value: true %>
<ul class="item-list">
	<li><%= formCSV.label :course_id,'Class: ' %>
		<%= formCSV.select(:course_id, options_from_collection_for_select(@courses, :id, :name)) %>
	</li>
	<li><%= formCSV.label :usersCSV, 'Upload CSV file: ' %>
		<%= formCSV.file_field :usersCSV %>
	</li>
	<li><%= formCSV.submit 'Upload Users' %></li>
</ul>
<% end %>

<p>OR…</p>

<%= form_with model: @users do |form| %>
<%= form.hidden_field :hasCSV, value: false %>
<ul class="item-list">
	<li><%= form.label :course_id,'Class: ' %>
		<%= form.select(:course_id, options_from_collection_for_select(@courses, :id, :name)) %>
	</li>
	<li><%= form.label :email, 'Email: ' %>
		<%= form.email_field :email %>
	</li>
	<li><%= form.label :password, 'Password: ' %>
		<%= form.password_field :password %>
	</li>
	<li><%= form.label :admin, 'Admin? ' %>
		<%= form.select(:admin, options_for_select([['No', false],['Yes', true]])) %>
	</li>
	<li><%= form.submit 'Add User' %></li>
</ul>
<% end %>
