<h2>New Users</h2>
<%= link_to '[ <- back to list ]', admin_users_path, class: "back-link" %>

<%= form_with model: @user do |formCSV| %>
	<%= formCSV.hidden_field :hasCSV, value: true %>
	<ul class="item-list">
		<li><%= formCSV.label :course_id,'Class: ' %>
			<%= formCSV.select(:course_id, options_from_collection_for_select(@courses, :id, :name), required: true) %>
		</li>
		<li><%= formCSV.label :usersCSV, 'Upload CSV file: ' %>
			<%= formCSV.file_field :usersCSV, required: true %>
		</li>
		<li><%= formCSV.submit 'Upload Users' %></li>
	</ul>
<% end %>

<p>OR…</p>
<%= form_with model: @user do |form| %>
	<%= render partial: "shared/form_errors", locals: { object: form.object } %>
	<%= form.hidden_field :hasCSV, value: false %>
	<ul class="item-list">
		<li><%= form.label :course_id,'Class: ' %>
			<%= form.select(:course_id, options_from_collection_for_select(@courses, :id, :name), required: true) %>
		</li>
		<li><%= form.label :email, 'Email: ' %>
			<%= form.email_field :email, required: true %>
		</li>
		<li><%= form.label :password_digest, 'Password: ' %>
			<%= form.password_field :password_digest, required: true %>
		</li>
		<li><%= form.label :password_confirmation, 'Confirm Password: ' %>
			<%= form.password_field :password_confirmation, required: true %>
		</li>
		<li><%= form.label :admin, 'Admin? ' %>
			<%= form.select(:admin, options_for_select([['No', false],['Yes', true]])) %>
		</li>
		<li><%= form.submit 'Add User' %></li>
	</ul>
<% end %>
